.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: blueviolet;
}

.tick text {
  font-size: 22px;
}

.menu-container {
  display: flex;
  gap: 15px;
  position: fixed;
  justify-content: flex-end;
  top: 70px;
  left: 40px;
  right: 30px;
}
